/* Reset base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Titolo */
h1 {
  width: fit-content;
  margin: 0 auto 50px;
  color: red;
  margin-bottom: 10px;
}

/* Paragrafi */
p {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 25px;
}

/* Container delle card */
.container {
  display: grid;
  grid-template-columns: repeat(3, 300px); /* 3 card per riga */
  justify-content: center;
  gap: 40px; /* spazio tra le card */
  margin-bottom: 30px;
  
}

/* Singola card */
.content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 300px;
  

  border: 5px solid rgb(191, 96, 86);
  border-radius: 10px;
  background-color: darksalmon;

  font-weight: bold;
}

/* Immagini dentro le card */
.content-box img {
  width: 300x;
  height: 200px;
  object-fit: cover;
}

/* Hover link */
a:hover {
  opacity: 0.2;
  background-color: rgb(251, 255, 0);
}
